{% extends "base.html" %}
{% load static %}
{% block datepicker %}
  <script src ="{% static "tables/jquery.min.js" %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock datepicker %}
{% block menu_li %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
  <li class="nav-item active  ">
    <a class="nav-link" href="{% url 'lista_pacientes' %}">
    <i class="material-icons">accessible</i>
      <p>Pacientes</p>
    </a>
  </li>
{% endblock menu_li %}
{% block button_bar %}
  <a class="btn btn-success btn-round btn-fab btn-fab-mini"href="{% url 'add_paciente' %}">
    <i class="material-icons">person_add</i>
  <div class="ripple-container"></div></a>
{% endblock button_bar %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="purple">
                   <h4 class="card-title">Lista de Pacientes</h4>
              </div>
              <div class="card-content">
              <div class="material-datatables">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                    <thead class=" text-primary">
                        <th>Nº</th>
                        <th>Nome</th>
                        <th>Sexo</th>
                        <th>Telefone</th>
                        <th>Histórico</th>
                        <th>Ação</th>
                      </thead>
                      <tbody>
                        {% for p in pacientes  %}
                          <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{p.nome}}</td>
                            <td>{{p.get_sexo_display}}</td>
                            <td>{{p.telefone}}</td>
                            <td width="18%">
                              <a href="{% url 'historico' p.id %}"><div style="background-color:green;text-align:center;color:white;border-radius: 5px 5px;"><font size="2">Ver Histórico</font>
                              </div></a>
                            </td>
                            <td>
                               <a href="{% url 'paciente_detalhe' p.id %}" title="Visualizar"><i class="material-icons">visibility</i></a>
                                <a href="{% url 'update_paciente' p.id %}" title="Editar"><i class="material-icons">sync</i></a>
                               <a href="{% url 'delete_paciente' p.id %}" title="Remover" onclick="return confirm('Deseja realmente excluir?');"><i class="material-icons">delete</i>
                               </a>
                            </td>
                          </tr>
                        {% endfor %}
                       </tbody>
                            </table>
                        </div>
                    </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      searching: true, 
      "language": {
          "sProcessing":   "Processando...",
          "sLengthMenu":   " _MENU_ ",
          "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
          "info": "Pág _PAGE_ de _PAGES_",
          "sInfoEmpty":    "",
          "sInfoFiltered": "",
          "sInfoPostFix":  "",
          "sSearch":       "Busca",
          "sUrl":          "",
          "oPaginate": {
              "sFirst":    "Primeiro",
              "sPrevious": "",
              "sNext":     "",
              "sLast":     "Último"
          }
      }
    });


    var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}