{% extends "base.html" %}
{% load static %}
{% block datepicker %}
<script src ="{% static "tables/jquery.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
{% endblock datepicker %}
{% block menu_li %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'home' %}">
    <i class="material-icons">dashboard</i>
    <p>Dashboard</p>
  </a>
</li>
<li class="nav-item active  ">
  <a class="nav-link" href="#">
   <i class="material-icons">calendar_today</i>
   <p>Agenda</p>
 </a>
</li>
{% endblock menu_li %}
{% block container %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary"data-background-color="purple">
            <h4 class="card-title"> Agenda de Atendimentos do Dia  
              <a  href="{% url 'agenda' %}"class="btn btn-raised btn-rose btn-xs pull-right">
                <i class="material-icons">calendar_today</i> Agenda Completa</a>
              <a class="btn btn-raised btn-success btn-xs pull-right" href="{% url 'add_agendamento' %}">
                <i class="material-icons">calendar_today</i> Novo</a>
              </h4>

            </div>
            <div class="card-content">
             <div class="col-md-12">
              <form method="GET"name="search">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                      <input name="date_ranger"class="form-control"required>
                    </div>
                  </div>
                  {% if not profissional %}
                  <!--se quem estiver logado não for profissional ele mostra o select -->
                  <div class="col-md-3 col-sm-3">
                    <select class="selectpicker" name="profissional"data-style="select-with-transition" title="Profissional" data-size="7"data-live-search="true">
                      <option value="">Selecione o Profissional</option>
                      {% for p in pf %}
                      <option value="{{p.nome}}">{{p.nome}} {{p.sobrenome}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                  <div class="col-md-2">
                    <select class="selectpicker" name="status"data-style="select-with-transition" title="status" data-size="7">
                      <option value=""disabled selected>Todos</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                   <input type="text"class="form-control" name="paciente" placeholder="Nome do Paciente"value="{{request.GET.paciente}}">
                 </div>
                 <div class="col-md-1 col-sm-1">
                   <button type="submit" class="btn btn-primary pull-right btn-round"><i class="material-icons">search</i></button>
                 </div>
               </div>
             </form>
           </div>
           <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead class="text-primary">
                <th>Status</th>
                <th>Paciente</th>
                <th>Data</th>
                <th>Sala</th>
                <th>Profissional</th>
                <th>Horário</th>
                <th>Ações</th>
              </thead>
              {% if not profissional %}
              <!--se quem estiver logado não for profissional ele exibe uma tabela diferente  -->
              <tbody>
                {% for agenda  in agendamentos %}
                <tr>
                <td>
                  <!--arquivo com os devidos status da agenda-->
                  {% include "agenda/status_agenda.html" %}  
                </td>
                <td><b><a href="{% url 'agendamento_detalhe' agenda.id %}">{{agenda.paciente|title}}</a></b></td>
                <td>{{agenda.data|date:"d/m/Y"}}</td>
                <td>
                  {% if agenda.sala == None %}
                  <b>------</b>
                  {% else %}
                  {{agenda.sala}}
                  {% endif %}
                </td>
                <td>{{agenda.profissional|title}}</td>
                <td>{{agenda.hora_inicio}}H -- {{agenda.hora_fim}}H</td>
                <td width="15%"> 
                 {% if agenda.status == 'AD' or agenda.status == 'AG' or agenda.status == 'BQ' or agenda.status == 'AT'%}
                      <!--apenas troca a cor do icone se foi liberado ou não-->
                      {% if agenda.status == 'AG' %}
                        <a href="{% url 'liberar_agendamento' agenda.id %}"title="Imprimir PDF" onclick="liberarPaciente();" target="_blank">
                        <i class="material-icons text-primary">print</i></a>
                      {% else %}
                        <a href="{% url 'liberar_agendamento' agenda.id %}"title="Imprimir PDF"onclick="reiprimirPDF();"target="_blank">
                        <i class="material-icons text-success">print</i></a>
                      {% endif %}
                      {% if agenda.status != 'AD' %}
                        <!--Não mostra o botão deletar no status pre atendimento-->
                        <a href="{% url 'update_agendamento' agenda.id %}" title="Editar"><i class="material-icons text-info">sync</i></a>
                        <a href="{% url 'deletar_agendamento' agenda.id %}" title="deletar atendimento" onclick="return confirm('Deseja realmente deletar o agendamento?');"><i class="material-icons  text-danger">delete</i></a>
                        <!--
                        <a href="{% url 'desmarcar_agendamento' agenda.id %}"title="Desmarcar atendimento" onclick="return confirm('Deseja realmente desmarcar?');"><i class="material-icons text-warning">label_off</i></a>
                        <a href="{% url 'cancel_agendamento' agenda.id %}" title="cancelar atendimento" onclick="return confirm('Deseja realmente cancelar?');"><i class="material-icons  text-danger">cancel</i></a>
                        -->
                      {% endif %}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              {% else %}
              <tbody>
                {% for agenda  in af %}
                <tr>
                 <td>
                  <!--arquivo com os devidos status da agenda-->
                  {% include "agenda/status_agenda.html" %}  
                </td>
                <td><b><a href="{% url 'agendamento_detalhe' agenda.id %}">{{agenda.paciente|title}}</a></b></td>
                <td>{{agenda.data|date:"d/m/Y"}}</td>
                <td>
                  {% if  agenda.sala == None %}
                  <b>------</b>
                  {% else %}
                  {{agenda.sala}}
                  {% endif %}
                </td>
                <td>{{agenda.profissional|title}}</td>
                <td>{{agenda.hora_inicio}}h -- {{agenda.hora_fim}}h</td>
                <td width="15%"> 
                  {% if profissional %}
                  <!--so mostrar se quem estiver logado pro profissional-->
                    {% if agenda.status == 'AD' %}
                     <!--so mostra o botão se o status for de pre atendimento-->
                    <span class="dropdown">
                      <button href="#pablo" class="btn btn-raised btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Atender
                        <b class="caret"></b>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=evolucao"class="btn btn-primary btn-xs" >EVOLUÇÃO</a>
                        </li>
                        {% for f in lista_fichas_options%}
                          <li>
                            {% if f == 'Terapeuta ocupacional' %}
                            <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=TerapiaOcupacional" class="btn btn-primary btn-xs" >Terapia Ocupacional</a>
                            {% endif %}
                          </li>
                          <li>{% if f == 'Psiquiatra' %}
                            <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=Psiquiatra" class="btn btn-primary btn-xs" >Psiquiatria</a>
                            {% endif %}
                          </li>
                          <li>{% if f == 'Psicólogo(a)' %}
                            <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=AnamineseAdulto" class="btn btn-primary btn-xs" >Anaminese Adulto</a>
                          </li>
                          <li><a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=AnamineseCrianca"class="btn btn-primary btn-xs" >Anaminese Criança</a>
                            {% endif %}
                          </li>
                          <li>{% if f == 'Nutricionista' %}
                            <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=Nutricao" class="btn btn-primary btn-xs" >Nutriçao</a>
                            {%endif%}
                          </li>
                          <li>{% if f == 'Fisioterapeuta' %}
                            <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=Fisioterapeuta" class="btn btn-primary btn-xs" >Fisio Convencional</a>
                          </li>
                          <li><a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=Neurologia" class="btn btn-primary btn-xs" >Neurologia</a>
                          </li>
                          <li>
                          <a class="dropdown-item" href="{% url 'add_atendimento' agenda.id %}?tipo=Uroginecologia" class="btn btn-primary btn-xs" >Uroginecologia</a>
                          {% endif %}
                      {% endfor %}
                      </li>
                    </ul>
                    </span>
                  {% endif %}
                  {% if agenda.status == 'AG' or agenda.status == 'BQ' or agenda.status == 'PT' or agenda.status == 'CC' %}
                    <a href="{% url 'update_agendamento' agenda.id %}" title="Editar"><i class="material-icons text-info">sync</i></a>
                    {% if agenda.status != 'AD' %}
                    <!--Não mostra o botão deletar no status pre atendimento-->
                      <a href="{% url 'deletar_agendamento' agenda.id %}" title="deletar atendimento" onclick="return confirm('Deseja realmente deletar o agendamento?');"><i class="material-icons  text-danger">delete</i></a>
                    {% endif %}
                  {% endif %}
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              {% endif %}
            </table>

          </div>
        </div><!-- end content-->
      </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div>
</div>
<script type="text/javascript">
  function liberarPaciente(){
    confirm('Liberar paciente e imprimir confirmação!');
    swal({ title:"Pré Atendimento", 
      text:"Ação Executada com Sucesso! ",
      type:"success",
      showConfirmButton: true,
      allowOutsideClick: false,
    }).then(function(){
      window.location.reload(true);
    })

  }
  function reiprimirPDF(){
    swal({ 
      text:"Impressão Executada com Sucesso! ",
      type:"success",
      showConfirmButton: true,
      allowOutsideClick: false,
    }).then(function(){
      window.location.reload(true);
    })
  }
$('input[name="date_ranger"]').daterangepicker({
  "timePicker": false,
  "startDate": moment(),
  "endDate": moment(),
  "ranges": {
    'Hoje': [moment(), moment()],
    'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
    'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
    'Esse Mês': [moment().startOf('month'), moment().endOf('month')],
    'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  showDropdowns: true,
  "locale": {
    "format": "DD/MM/YYYY",
    "separator": " / ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Customizado",
    "daysOfWeek": [
    "Dom",
    "Seg",
    "Ter",
    "Qua",
    "Qui",
    "Sex",
    "Sáb"
    ],
    "monthNames": [
    "Janeiro",
    "Fevereiro",
    "Março",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro"
    ],
    "firstDay": 0
  }
}, function(start, end, label) {
  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");

});
$(document).ready(function() {
  $('#datatables').DataTable({
    "pagingType": "full_numbers",
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    responsive: true,
    searching: false, 
    "language": {
      "sProcessing":   "Processando...",
      "sLengthMenu":   " _MENU_ ",
      "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
      "info": "Pág _PAGE_ de _PAGES_",
      "sInfoEmpty":    "",
      "sInfoFiltered": "",
      "sInfoPostFix":  "",
      "sSearch":       "",
      "sUrl":          "",
      "oPaginate": {
        "sFirst":    "Primeiro",
        "sPrevious": "",
        "sNext":     "",
        "sLast":     "Último"
      }
    }
  });


  var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}