<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Detalhes do Atendimento</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Lista de Atendimentos - {{ today | date:"d/m/Y" }}</h3>
        </div>
        <div class="list-group">
            <p>FISIOLIFEPHB</p>
        </div>
         <div class="card-content">
                <div class="row">
                  <br>
                 {% for atendimento in atendimentos %}
                 	 <div class="col-md-12">
                    {% if atendimento.data %}                          
                      <div class="row">
                          <div class="col-sm-3 col-md-2 col-5">
                              <label style="font-weight:bold;">PACIENTE</label>
                          </div>
                          <div class="col-md-8 col-6">
                             <b>{{ atendimento.paciente|upper }}</b>
                          </div>
                      </div>
                      <hr>
                      {% endif %}
                      {% if atendimento.tipo %}
                              <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Tipo</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.get_tipo_display}}
                                  </div>
                              </div>
                              <hr>
                              {% endif %}
                              {% if atendimento.data %}
                              <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Data</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                      {{ atendimento.data|date:"d/m/Y" }}
                                  </div>
                              </div>
                              <hr>
                                {% endif %}
                                {% if atendimento.data %}    
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Horario</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ atendimento.hora_inicio }} /{{ atendimento.hora_fim }}
                                    </div>
                                </div>
                                <hr>
                              {% endif %}
                              {% if atendimento.data %} 
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Convenio</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.convenio }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                 {% if atendimento.profissional %} 
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Profissional</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.profissional }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.procedimento %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Procedimento</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.procedimento }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% if atendimento.guia %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Guia</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.guia }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            <!--avaliação-->
                             {% if atendimento.qp %} 
                               <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">QP</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.qp }}
                                  </div>
                              </div>
                              <hr>
                              {% endif %}
                              {% if atendimento.diagnostico %} 
                               <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Diagnostico</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.diagnostico }}
                                  </div>
                              </div>
                              <hr>
                                {% endif %}
                                {% if atendimento.hda %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">HDA</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.hda }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.outras_doencas %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Outras Doenças</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.outras_doencas }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.pa %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">PA</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.pa }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.mmHg %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">mmHg</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.mmHg }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.bpm %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">bpm</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.bpm }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.rpm %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">rpm</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.rpm }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.inspecao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Inspecao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.inspecao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.palpacao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">palpacao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.palpacao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.palpacao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">palpacao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.palpacao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.exame_complementar %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">exame_complementar</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.exame_complementar }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.tratamento %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Tratamento</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.tratamento }}
                                    </div>
                                </div>
                                <hr>
                          {% endif %}
                          {% if atendimento.evolucao %} 
                           <div class="row">
                              <div class="col-sm-3 col-md-2 col-5">
                                  <label style="font-weight:bold;">Evolucao</label>
                              </div>
                              <div class="col-md-8 col-6">
                                 {{ atendimento.evolucao }}
                              </div>
                          </div>
                      <hr>
                  {% endif %}   
                  </div>
              		<br><br>
              		<hr>
                 {% endfor %}
                </div>
              </div><!-- end content-->
    </div>
</div>

</body>
</html>