<div class="row">
	<div class="col-md-4">
		<label class="bmd-label-floating">Responsável pela criança:</label>
       	{{form_fichas.responsavel}}
  </div>
  <div class="col-md-4">
		<label class="bmd-label-floating">No de irmãos / sexo / idades:</label>
       	{{form_fichas.n_irmaos}}
  </div>
  <div class="col-md-4">
		<label class="bmd-label-floating">Posição no bloco familiar:</label>
       	{{form_fichas.posicao_familiar}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Pais</label>
        {{form_fichas.matrimonio}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Reação da criança à situação</label>
        {{form_fichas.reacao_1}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Se separados, a criança vive com quem?</label>
        {{form_fichas.caso_separado}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Filho</label>
        {{form_fichas.filho}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Acriança é ciente de sua adoção?</label>
        {{form_fichas.crianca_ciente}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Reação da criança à situação:</label>
        {{form_fichas.reacao_2}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">MOTIVO DA BUSCA POR ATENDIMENTO</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Queixa Principal:</label>
        {{form_fichas.queixa}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Tempo:</label>
        {{form_fichas.tempo}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Frequência:</label>
        {{form_fichas.frequencia}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Consequências:</label>
        {{form_fichas.consequencia}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Atitude dos pais:</label>
        {{form_fichas.atitude_Pais}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Esforços para evitar comportamento:</label>
        {{form_fichas.esforco}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">Atendida por outros profissionais (quais):</label>
        {{form_fichas.outro_profissional}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Medicamentos:</label>
        {{form_fichas.medicacoes}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">Atividades ocupacionais da criança:</label>
        {{form_fichas.ativ_ocupacional}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">HISTÓRICO</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Gestação:</label>
        {{form_fichas.gestacao}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">Saúde da mãe durante a gravidez:</label>
        {{form_fichas.saude_mae}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Parto:</label>
        {{form_fichas.Parto}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Quanto tempo após o casamento ou anterior a ele?</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Idade:</label>
        {{form_fichas.idade}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Enjoou?</label>
        {{form_fichas.enjoou}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Tempo:</label>
        {{form_fichas.tempo_1}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">A criança foi desejada?</label>
        {{form_fichas.gav_desejada}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Abortos?</label>
        {{form_fichas.abortos}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Quantos?</label>
        {{form_fichas.qnt_abortos}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Complicações durante a gravidez?</label>
        {{form_fichas.compl_gravidez}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Doenças antes da concepção?</label>
        {{form_fichas.denc_concepcao}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Alimentação</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Amamentação:</label>
        {{form_fichas.amamentacao}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Até que idade?</label>
        {{form_fichas.ate_idade1}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Usou mamadeira?</label>
        {{form_fichas.mamadeira}}
  </div>
   <div class="col-md-3">
    <label class="bmd-label-floating">Até que idade?</label>
        {{form_fichas.ate_idad2}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">Como é a alimentação?</label>
        {{form_fichas.alimentacao}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Desenvolvimento Psicomotor</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Foi no tempo esperado?</label>
        {{form_fichas.desenv_esperado}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Em que idade sorriu?</label>
        {{form_fichas.sorriu_idade}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Quando engatinhou?</label>
        {{form_fichas.engatinhou_idade}}
  </div>
   <div class="col-md-3">
    <label class="bmd-label-floating">Idade em ficou em pé?</label>
        {{form_fichas.ficou_pe}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">Idade em que andou?</label>
        {{form_fichas.andou_idade}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Quando correu?</label>
        {{form_fichas.correu}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Passava maior parte do tempo no braço?</label>
        {{form_fichas.braco}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Idade em que falou as primeiras palavras?</label>
        {{form_fichas.palavras}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Apresentou atraso ou problema na fala?</label>
        {{form_fichas.atraso_fala}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Troca letras, fonemas?</label>
        {{form_fichas.troca_letra}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Quais?</label>
        {{form_fichas.qual1}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Controle dos Esfíncteres</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Dificuldades ou atraso no controle do esfíncter?</label>
        {{form_fichas.dificul_esfincter}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Atualmente apresenta controle do esfíncter?</label>
        {{form_fichas.contro_esfincter}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Idade em que obteve controle:</label>
        {{form_fichas.idade}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Tem alguma mania:</label>
        {{form_fichas.mania}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Tem enurese noturna?</label>
        {{form_fichas.enurese_noturna}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Fatos que afetaram o desenvolvimento da criança(acidentes, operações, traumas etc.) ou outras
ocorrências:</label>
        {{form_fichas.desenv_afetado}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">CARACTERÍSTICAS ATUAIS DA CRIANÇA</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">Na fala:</label>
        {{form_fichas.dificul_fala}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Qual?</label>
        {{form_fichas.qual4}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Na visão:</label>
        {{form_fichas.visao}}
  </div>
    <div class="col-md-2">
    <label class="bmd-label-floating">Qual?</label>
        {{form_fichas.qual5}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Locomoção:</label>
        {{form_fichas.locomocao}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Qual:</label>
        {{form_fichas.qual6}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">É dependente em quais AVDs (atividades de vida diária)?</label>
        {{form_fichas.avds}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Toma banho sozinho?</label>
        {{form_fichas.banha_so}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Escova os dentes sozinho?</label>
        {{form_fichas.escova_so}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Usa o banheiro sozinho?</label>
        {{form_fichas.usa_banheiro_so}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Necessita de auxilio para se vestir ou despir?</label>
        {{form_fichas.precisa_auxilio}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Em que idade se deu a retirada das fraldas?</label>
        {{form_fichas.retirada_fruda}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">TENDÊNCIAS PRÓPRIAS</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Atende as intervenções quando está desobedecendo?</label>
        {{form_fichas.intervencao}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Apresenta choro fácil?</label>
        {{form_fichas.chora_fabi}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Recusa auxílio?</label>
        {{form_fichas.recus_auxililo}}
  </div>
    <div class="col-md-4">
    <label class="bmd-label-floating">Tem resistência ao toque (afago, carinho)?</label>
        {{form_fichas.resistencia}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">ESCOLARIDADE</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Vai bem na escola?</label>
        {{form_fichas.bem_escoal}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Gosta de estudar?</label>
        {{form_fichas.gosta_estudar}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Os pais estudam com a criança:</label>
        {{form_fichas.estudam_crianca}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Acriança recebe algum tipo de orientação quanto aos deveres de casa?</label>
        {{form_fichas.orientacao_dever}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Quem oferece?</label>
        {{form_fichas.quem_ajuda}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Durante quanto tempo?</label>
        {{form_fichas.tempo_ajuda}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">Gosta da professora?</label>
        {{form_fichas.gosta_professora}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">É castigado quando tira notas baixas:</label>
        {{form_fichas.nota_baixa}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Dificuldade em alguma matéria?</label>
        {{form_fichas.materia}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Qual?</label>
        {{form_fichas.qual7}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Idade em que começou a frequentar a escola:</label>
        {{form_fichas.idade_escola}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Destro ou sinistro:</label>
        {{form_fichas.destro}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">A criança já estudou antes em outra escola?</label>
        {{form_fichas.outra_escola}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Qual?</label>
        {{form_fichas.qual8}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Motivo da transferência:</label>
        {{form_fichas.mortivo_trans}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Já repetiu alguma série?</label>
        {{form_fichas.repetiu_serie}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Participa de algumas das atividades abaixo?</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Curso de língua estrangeira?</label>
        {{form_fichas.lingua_estrangeira}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Qual(is)?</label>
        {{form_fichas.qual_ling}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Modalidades esportivas</label>
        {{form_fichas.esporte}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Qual(is)?</label>
        {{form_fichas.qual_esporte}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Dança.</label>
        {{form_fichas.danca}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Qual(is)?</label>
        {{form_fichas.qual_danca}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Instrumento musical</label>
        {{form_fichas.intru_musical}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Qual(is)?</label>
        {{form_fichas.qual_inst}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Outras?</label>
        {{form_fichas.outra_ativi}}
  </div>
  <div class="col-md-8">
    <label class="bmd-label-floating">Qual(is)?</label>
        {{form_fichas.qual_outra}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Sociabilidade</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Faz amigos com facilidade?</label>
        {{form_fichas.faz_amigo}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Adapta-se facilmente ao meio?</label>
        {{form_fichas.adaptacao}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Quem são os companheiros da criança nas brincadeiras?</label>
        {{form_fichas.compa_brincadeira}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Escolha de grupo</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">Mesmo sexo?</label>
        {{form_fichas.mesmo_sexo}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Sexo oposto?</label>
        {{form_fichas.sexo_oposto}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Criança da mesma idade?</label>
        {{form_fichas.mesma_idade}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Criança mais nova?</label>
        {{form_fichas.mais_nova}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Criança mais velha?</label>
        {{form_fichas.mais_velha}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Distrações mais utilizadas pela criança</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">TV</label>
        {{form_fichas.tv}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Música</label>
        {{form_fichas.musica}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Leitura</label>
        {{form_fichas.leitura}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Coleção</label>
        {{form_fichas.colecao}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Computador</label>
        {{form_fichas.computador}}
  </div>
     <div class="col-md-2">
    <label class="bmd-label-floating">Outras</label>
        {{form_fichas.outra_distracao}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Atitudes sociais predominantes</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <label class="bmd-label-floating">Obediente</label>
        {{form_fichas.obediente}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Independente</label>
        {{form_fichas.independente}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">Comunicativo</label>
        {{form_fichas.comunicativo}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Agressivo</label>
        {{form_fichas.agressivo}}
  </div>
   <div class="col-md-2">
    <label class="bmd-label-floating">Cooperador</label>
        {{form_fichas.cooperador}}
  </div>
     <div class="col-md-2">
    <label class="bmd-label-floating">Outra</label>
        {{form_fichas.outra_atitude}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Emocionais</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Tranqüilo</label>
        {{form_fichas.tranquilo}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Seguro</label>
        {{form_fichas.seguro}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Ansioso</label>
        {{form_fichas.ancioso}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Alegre</label>
        {{form_fichas.alegre}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Emotivo</label>
        {{form_fichas.emotivo}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Queixoso</label>
        {{form_fichas.queixoso}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Outras:</label>
        {{form_fichas.outra_emocao}}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Sono</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Insônia</label>
        {{form_fichas.insonia}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Pesadelos</label>
        {{form_fichas.pesadelo}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Hipersonia (excesso de sono)</label>
        {{form_fichas.hipersonia}}
  </div>
   <div class="col-md-3">
    <label class="bmd-label-floating">Dorme sozinho</label>
        {{form_fichas.dorme_sozinho}}
  </div>
</div>
<div class="row">
   <div class="col-md-3">
    <label class="bmd-label-floating">Dorme no quarto do pais</label>
        {{form_fichas.dorme_pais}}
  </div>
     <div class="col-md-3">
    <label class="bmd-label-floating">Divide o quarto com alguém?</label>
        {{form_fichas.divide_quarto}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Perturbações (pesadelos, sonambulismo, agitação, etc.)</label>
        {{form_fichas.perturbacao}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Possui hábitos especiais (requer a presença de alguém, medos, etc.)</label>
        {{form_fichas.habito_especial}}
  </div>
</div>
<div class="row">
   <div class="col-md-12">
    <label class="bmd-label-floating">Medidas disciplinares empregadas pelos pais:</label>
        {{form_fichas.disciplina_pai}}
  </div>
     <div class="col-md-12">
    <label class="bmd-label-floating">Como seu (sua) filho(a) reage quando é contrariado(a), e qual a atitude dos pais nesta ocasião?</label>
        {{form_fichas.contrariado}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">SAÚDE</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Histórico de doenças</label>
        {{form_fichas.histo_doenca}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Doenças mais frequentes</label>
        {{form_fichas.freque_doenca}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Idades</label>
        {{form_fichas.idade3}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Apresenta problemas neurológicos? Qual?</label>
        {{form_fichas.qual_neurologico}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Faz acompanhamento médico Psicológico</label>
        {{form_fichas.acomp_psicologico}}
  </div>
    <div class="col-md-4">
    <label class="bmd-label-floating">Outros</label>
        {{form_fichas.outro_acompanha}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Faz uso de algum medicamento? Qual?</label>
        {{form_fichas.uso_medicamento}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Outras ocorrências de saúde:</label>
        {{form_fichas.outra_ocorrencia}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">ANTECEDENTES FAMILIARES</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <label class="bmd-label-floating">Alguém na família com sofrimento mental ou físico?</label>
        {{form_fichas.probl_mental}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Qual o grau de parentesco?</label>
        {{form_fichas.grau_parentesco}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Qual a dificuldade apresentada?</label>
        {{form_fichas.dificul_apresentada}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">AMBIENTE FAMILIAR</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Relação entre os pais:</label>
        {{form_fichas.relac_pai}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Entre irmãos:</label>
        {{form_fichas.relac_irmao}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">Na percepção dos pais</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Pontos positivos do filho:</label>
        {{form_fichas.ponto_posi}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Pontos negativos do filho:</label>
        {{form_fichas.ponto_nega}}
  </div>
</div>
<div class="row">
    <div class="col-md-6">
    <label class="bmd-label-floating">O que entende da terapia:</label>
        {{form_fichas.terapia}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">Observações:</label>
        {{form_fichas.Observacao}}
  </div>
</div>