<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">MOTIVO DA PROCURA AO SERVIÇO DE PSICOLOGIA (QUEIXA PRINCIPAL/SECUNDÁRIA)</label>
        {{form_fichas.queixa}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Atendimentos junto ao serviço de Psicologia anteriormente?</label>
        {{form_fichas.psic_anterior}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Atendimentos junto ao serviço de Psiquiatria anteriormente?</label>
        {{form_fichas.psiq_anterior}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Encaminhado por:</label>
        {{form_fichas.encaminhado_por}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Atendida por outros profissionais (quais):</label>
        {{form_fichas.outro_profissional}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Uso de medicamentos (quais):</label>
        {{form_fichas.uso_medicacao}}
    </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Medicamentos psiquiátricos (quais):</label>
        {{form_fichas.med_psiquiatrico}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Reações fisiológicas observadas:</label>
        {{form_fichas.reacao_fisiolo}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Histórico de doenças:</label>
        {{form_fichas.hist_doencas}}
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">HISTÓRICO DAS DIFICULDADES RELATADAS (DESDE QUANDO APRESENTA A
QUEIXA, CORRELAÇÃO DA QUEIXA COM ASPECTOS DA VIDA DO PACIENTE).</label>
        {{form_fichas.hist_dificuldade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">DINÂMICA FAMILIAR (LEVAR EM CONSIDERAÇÃO A FAMÍLIA NUCLEAR, DE
ORIGEM E CONSTITUÍDA E BUSCA COMPREENDER A RELAÇÕES CONSTRUÍDAS
NESSES
GRUPOS):</label>
        {{form_fichas.dinamica_fam}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Algum fato marcante durante a infância:</label>
        {{form_fichas.fato_marcante}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Traumas:</label>
        {{form_fichas.trauma}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">DINÂMICA DO RELACIONAMENTO SOCIAL E LAZER (NAMORO, VIDA SEXUAL,
AMIZADES)</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Relacionamentos afetivos:</label>
        {{form_fichas.afetivo}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Vida sexual:</label>
        {{form_fichas.vida_sexual}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Amizades:</label>
        {{form_fichas.amizade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Atividades prazerosas e de lazer:</label>
        {{form_fichas.lazer}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">Qual a dinâmica da sua rotina atualmente:</label>
        {{form_fichas.rotina}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">DINÂMICA DAS ÁREAS ESCOLAR E PROFISSIONAL</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">ESCOLAR (Entrada na escola; fracasso/sucesso escolares; história escolar, dificuldades,
mudanças e facilidades; consequências de mudança escolar, comportamento, dentre
outros aspectos):</label>
        {{form_fichas.escolar}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">PROFISSIONAL (Mudanças de emprego, forma de admissão, mudança de função,
dificuldades, facilidades, relações de trabalho, realização profissional, dentre outros
aspectos):</label>
        {{form_fichas.profissional}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">ÁREA DA SAÚDE (PESSOAL E FAMILIAR)</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">PESSOAL (estado de saúde; histórico de saúde; tratamentos; medicamentos, cirurgias,
hospitalizações e prejuízos para a vida da pessoa depois dessas situações):</label>
        {{form_fichas.pessoal}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">FAMILIAR (histórico geral, estados de saúde repetitivos, tratamentos e consequências
para a família depois dessas situações):</label>
        {{form_fichas.familiar}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">PLANOS FUTUROS:</label>
        {{form_fichas.plano_futuro}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">EXPECTATIVAS PARA A TERAPIA:</label>
        {{form_fichas.expectativa}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">DIFICULDADES PESSOAIS APRESENTADAS:</label>
        {{form_fichas.dificul_pessoal}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">FALE SOBRE AS SUAS CARACTERÍSTICAS POSITIVAS E QUALIDADES:</label>
        {{form_fichas.caracteristica}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">METAS PARA A TERAPIA:</label>
        {{form_fichas.meta}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">ASPECTOS SIGNIFICATIVOS PERCEBIDOS DURANTE A ENTREVISTA DE
ANAMNESE.</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Postura geral:</label>
        {{form_fichas.postura_geral}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Cuidados pessoais e com a aparência:</label>
        {{form_fichas.cuidado_pessoal}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Fluência verbal:</label>
        {{form_fichas.fluencia}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Organização cognitiva (ideias/pensamentos):</label>
        {{form_fichas.organizacao}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Tiques, hábitos e manipulações:</label>
        {{form_fichas.tique}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">Outras considerações:</label>
        {{form_fichas.observacao}}
  </div>
</div>