<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">QUEIXA PRINCIPAL/SECUNDÁRIA</label>
        {{form_fichas.queixa}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">HISTÓRICO FAMILIAR</label>
        {{form_fichas.familia}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">HISTÓRICO PATOLÓGICO</label>
        {{form_fichas.patologico}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">HISTÓRICO SOCIAL</label>
        {{form_fichas.social}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">CONDULTA</label>
        {{form_fichas.condulta}}
  </div>
</div>
