<div class="row">
  <div class="col-md-12">
    <label class="bmd-label-floating">ENCAMINHADO POR</label>
        {{form_fichas.encaminhado_por}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">QUEIXA PRINCIPAL/SECUNDÁRIA</label>
        {{form_fichas.queixa}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">HDA</label>
        {{form_fichas.hda}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">HIPERTENSÃO ARTERIAL (HAS)</label>
        {{form_fichas.has}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">CARDIACO</label>
        {{form_fichas.cardiaca}}
  </div>
    <div class="col-md-4">
    <label class="bmd-label-floating">DIABETE MELLITUS</label>
        {{form_fichas.dm}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Outras condições de saúde / Comorbidades</label>
        {{form_fichas.comorbidade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Histórico de Medicamentos</label>
        {{form_fichas.medicamento}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Relacionamentos Ex:(Familiar, Infância, Afetivo, Amizades, outra)</label>
        {{form_fichas.rotina_familiar}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Rotina Ex:(Trabalho, Familiar, Pessoal, Escola, outra)</label>
        {{form_fichas.rotina_diaria}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Dificuldades Ex:(Pessoal, Caracteristicas, Metas, organizações, outra)</label>
        {{form_fichas.dificuldade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Atividades  Ex:(Dança, esportes, outra)</label>
        {{form_fichas.atividade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Histórico de Cirurgias ou fraturas</label>
        {{form_fichas.cirurgia}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Exames para Diagnóstico</label>
        {{form_fichas.exame}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Histórico de Infecções</label>
        {{form_fichas.infeccao}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Avaliação</label>
        {{form_fichas.avaliacao}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Condulta Profissional</label>
        {{form_fichas.condulta_prof}}
  </div>
</div>