<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Hipótese Diagnóstica (Encaminhamento médico/ CID):
			</label>
			{{form_fichas.cid}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">História da Doença Atual/ Queixa Principal):
			</label>
			{{form_fichas.queixa}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<label class="bmd-label-floating">HAS?</label>
       	{{form_fichas.has}}
  	</div>
	<div class="col-md-3">
		<label class="bmd-label-floating">Insuficiência Cardíaca?</label>
       	{{form_fichas.cardiaca}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">DM?</label>
       	{{form_fichas.dm}}
  	</div>
	<div class="col-md-3">
		<label class="bmd-label-floating">Hipotireidismo?</label>
       	{{form_fichas.hipotireoidismo}}
  	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<label class="bmd-label-floating">Neoplasias?</label>
       	{{form_fichas.neoplasia}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Onde?</label>
       	{{form_fichas.onde_neoplasia}}
  	</div>
	<div class="col-md-2">
		<label class="bmd-label-floating">Tromboflebites?</label>
       	{{form_fichas.tromboflebite}}
  	</div>
  	<div class="col-md-2">
		<label class="bmd-label-floating">Fraturas?</label>
       	{{form_fichas.fratura}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Onde?</label>
       	{{form_fichas.onde_fratura}}
  	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<label class="bmd-label-floating">Síntese metálica?</label>
       	{{form_fichas.sintese_metalica}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Distúrbios de sensibilidade?</label>
       	{{form_fichas.disturbio}}
  	</div>
	<div class="col-md-3">
		<label class="bmd-label-floating">Doenças dermatológicas?</label>
       	{{form_fichas.doenca}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Marca-Passo?</label>
       	{{form_fichas.marca_passo}}
  	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<label class="bmd-label-floating">Epífise férteis?</label>
       	{{form_fichas.epifise}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Síndrome de Raynaud?</label>
       	{{form_fichas.sind_raynaud}}
  	</div>
	<div class="col-md-3">
		<label class="bmd-label-floating">História de fotosensibilidad?</label>
       	{{form_fichas.fotosensibilidade}}
  	</div>
  	<div class="col-md-3">
		<label class="bmd-label-floating">Gravidez?</label>
       	{{form_fichas.gravidez}}
  	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label class="bmd-label-floating">Outros</label>
       	{{form_fichas.outro}}
  	</div>
  	<div class="col-md-6">
		<label class="bmd-label-floating">Exames Complementares:</label>
       	{{form_fichas.exam_complementar}}
  	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label class="bmd-label-floating">Exame Físico:</label>
       	{{form_fichas.exam_fisico}}
  	</div>
  	<div class="col-md-6">
		<label class="bmd-label-floating">Esquema Corporal</label>
       	{{form_fichas.esquema_corporal}}
  	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label class="bmd-label-floating">Condulta Terapêutica:</label>
       	{{form_fichas.Condulta_psiquiatrica}}
  	</div>
</div>