<div class="row">
	<div class="col-md-6">
		<label class="bmd-label-floating">DIAGNÓSTICO MÉDICO:</label>
       	{{form_fichas.diag_medico}}
  </div>
  <div class="col-md-6">
		<label class="bmd-label-floating">MÉDICO:</label>
       	{{form_fichas.medico}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">DIAGNÓSTICO FISIOTERAPÊUTICO:</label>
        {{form_fichas.diag_fisio}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">DISTÚRBIOS ASSOCIADOS:</label>
        {{form_fichas.distur_assoc}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">HDA</label>
        {{form_fichas.hda}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">EXAMES AUXILIARES:</label>
        {{form_fichas.exame}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">CIRURGIAS PRÉVIAS:</label>
        {{form_fichas.cirurgia}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">DISPOSITIVOS AUXILIARES:</label>
        {{form_fichas.dispo_auxi}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">CAPACIDADES FUNCIONAIS E LIMITAÇÃO:</label>
        {{form_fichas.capacidade}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">PRÉ-TESTE:</label>
        {{form_fichas.pre_test}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">AVALIAÇÃO VIDEO:</label>
        {{form_fichas.aval_video}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">AVALIAÇÃO POSTURAL:</label>
        {{form_fichas.aval_postural}}
  </div>
</div>


<div class="table-responsive col-md-12">
  <h3 class="text-center">
    AVALIAÇÃO FÍSICA
  </h3>
  <br>
  <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
      <thead class=" text-primary">
      <tr>
        <th class="text-center"></th>
        <th class="text-center">ADM(grauº)</th>
        <th class="text-center">ARTICULAR</th>
        <th class="text-center">ENCURTAMENTO</th>
        <th class="text-center">TÔNUS</th>
        <th class="text-center">FORÇA</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
        <td class="text-center"><b>ILIOPSOAS</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_1}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_1}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_1}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_1}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_1}}</td>
       
      </tr>
      <tr>
        <td class="text-center"><b>RETOFEMORAL</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_2}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_2}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_2}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_2}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_2}}</td>
        
      </tr>
      <tr>
        <td class="text-center"><b>ABDUTORES DE QUADRIL</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_3}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_3}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_3}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_3}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_3}}</td>
        
      </tr>
      <tr>
        <td class="text-center"><b>ROTAÇÃO INTERNA</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_4}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_4}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_4}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_4}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_4}}</td>
       
      </tr>
      <tr>
        <td class="text-center"><b>ROTAÇÃO EXTERNA</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_5}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_5}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_5}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_5}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_5}}</td>
        
      </tr>
      <tr>
        <td class="text-center"><b>ÂNGULO POPLITEO</b></td>
        <td class="col-md-2 text-center">{{form_fichas.adm_6}}</td>
        <td class="col-md-2 text-center">{{form_fichas.articular_6}}</td>
        <td class="col-md-2 text-center">{{form_fichas.encurtamento_6}}</td>
        <td class="col-md-2 text-center">{{form_fichas.tonus_6}}</td>
        <td class="col-md-2 text-center">{{form_fichas.forca_6}}</td>
        
      </tr>
      <tr>
        <td class="text-center"><b>GASTROCNÊMIO</b></td>
        <td class="col-md-2">{{form_fichas.adm_7}}</td>
        <td class="col-md-2">{{form_fichas.articular_7}}</td>
        <td class="col-md-2">{{form_fichas.encurtamento_7}}</td>
        <td class="col-md-2">{{form_fichas.tonus_7}}</td>
        <td class="col-md-2">{{form_fichas.forca_7}}</td>
        
      </tr>
      <tr>
        <td class="text-center"><b>SÓLEO</b></td>
        <td class="col-md-2">{{form_fichas.adm_8}}</td>
        <td class="col-md-2">{{form_fichas.articular_8}}</td>
        <td class="col-md-2">{{form_fichas.encurtamento_8}}</td>
        <td class="col-md-2">{{form_fichas.tonus_8}}</td>
        <td class="col-md-2">{{form_fichas.forca_8}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
