<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Queixa principal (Palavras do Paciente)
			</label>
			{{form_fichas.queixa}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">HMA (Sindrome atual, especificando inicio do quadro, evolução, gravidade, complexidade e desfecho)
			</label>
			{{form_fichas.hma}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Queixas sintomáticas e perturbações associadas (atenção do sono, apetite, habitos alimentares, peso, função sexual, alteraçõesm em habitos de bebidas e fumo)
			</label>
			{{form_fichas.queixa_sintomatica}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Histórico de medicações anteriores e medicações em uso (dose, tempo de uso, efeitos colaterais, incluir medicações clínicas)
			</label>
			{{form_fichas.hist_medicacao}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Antecedentes psiquiátricos (descrever data, duração e natureza de tratamento s prévios, pormenores de todos os antecedentes psiquiátricos tratados ou não, alterações de comportamento, uso excessivo de alcool e drogas, insônia, oscilação do humor..., situação vital existente na época da cada caso...)
			</label>
			{{form_fichas.ante_psiquiatrico}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Antecedentes médicos (doenças cirurgicas, traumatismos, TCE, eplepsia)
			</label>
			{{form_fichas.ante_medico}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Exames complementares solicitados e ou resultados:
			</label>
			{{form_fichas.exam_complementar}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Observações:
			</label>
			{{form_fichas.observacao}}
		</div>
	</div>
</div>
<div class="row">
  	<div class="col-md-12">
        <div class="form-group"> 
          <h5 style="background-color: rgba(169,169,169);" align="center">Hipóteses diagnósticas (CID 10, segundo metodologia do DSM para diagnóstico multiaxial)</h5>
        </div>
  	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Eixo 1 (Diagnósticos principais hierarquizados)
			</label>
			{{form_fichas.eixo1}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Eixo 2 (Diagnóstico de personalidade)
			</label>
			{{form_fichas.eixo2}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Eixo 3 (Diagnósticos clínicos associados)
			</label>
			{{form_fichas.eixo3}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Eixo 4 (Diagnóstico dos fatores estressantes associados, especificar)
			</label>
			{{form_fichas.eixo5}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">Eixo 5 (Diagnóstico da incapacidade, medida de tempo, gerada pela doença)
			</label>
			{{form_fichas.eixo5}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label class="bmd-label-floating">Conduta psiquiátrica:
			</label>
			{{form_fichas.Condulta_psiquiatrica}}
		</div>
	</div>
</div>