<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<label class="bmd-label-floating">Peso ao Nascer
			</label>
			{{form_fichas.peso}}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="bmd-label-floating">Gestação Parto
			</label>
			{{form_fichas.gestacao_parto}}
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="bmd-label-floating">Aspecto Motor
			</label>
			{{form_fichas.aspecto_motor}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">ASPECTO SENSÓRIO-PERCEPTIVO.
			</label>
			{{form_fichas.aspecto_sensorio}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">ASPECTO SOCIAL.
			</label>
			{{form_fichas.gestacao_parto}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">COMUNICAÇÃO.
			</label>
			{{form_fichas.comunicacao}}
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label class="bmd-label-floating">CONDULTA TERAPÊUTICA.
			</label>
			{{form_fichas.condulta_terapeutica}}
		</div>
	</div>
</div>