<div class="row">
	<div class="col-md-6">
		<label class="bmd-label-floating">Encaminhado por:</label>
       	{{form_fichas.encaminhado_por}}
  </div>
  <div class="col-md-6">
		<label class="bmd-label-floating">Médico responsável:</label>
       	{{form_fichas.medico_responsavel}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Diagnóstico de origem:</label>
        {{form_fichas.diagnostico_origem}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Queixa principal:</label>
        {{form_fichas.queixa}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">HDA</label>
        {{form_fichas.hda}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">HPP</label>
        {{form_fichas.hpp}}
  </div>
  <div class="col-md-4">
    <label class="bmd-label-floating">Antecedentes cirúrgicos:</label>
        {{form_fichas.antece_cirurgico}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Antecedentes familiares:</label>
        {{form_fichas.antece_familiar}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Medicações em uso</label>
        {{form_fichas.uso_medicacao}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">SINTOMAS URINÁRIOS</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Incontinência Urinária:</label>
        {{form_fichas.incont_urinaria}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Como você perde?</label>
        {{form_fichas.como_perde}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Quanto perde?</label>
        {{form_fichas.quanto_perde}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Como urina?</label>
        {{form_fichas.como_urina}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Frequência de perdas / no de vezes</label>
        {{form_fichas.frequencia_perda}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Faz uso de protetores / fralda</label>
        {{form_fichas.usa_frauda}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Frequência urinária:</label>
        {{form_fichas.frequencia_urina}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Funções Intestinais</label>
        {{form_fichas.funcao_intestinal}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h5 style="background-color: rgba(169,169,169);" align="center">ANTECEDENTES GINECOLÓGICOS</h5><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Menarca</label>
        {{form_fichas.menarca}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">contracepção/tipo</label>
        {{form_fichas.contracepcao_tipo}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">menopausa/Idade:</label>
        {{form_fichas.menopausa}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">GPCA</label>
        {{form_fichas.gpca}}
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="bmd-label-floating">Episotomia</label>
        {{form_fichas.episotomia}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Fórceps</label>
        {{form_fichas.forceps}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Maior tempo de trabalho de parto</label>
        {{form_fichas.tempo_parto}}
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label class="bmd-label-floating">Complicações: gestação/ puérperio qual?</label>
        {{form_fichas.complicacao}}
  </div>
  <div class="col-md-3">
    <label class="bmd-label-floating">Cirurgias ginecológica</label>
        {{form_fichas.Cirurg_ginecologica}}
  </div>
  <div class="col-md-2">
    <label class="bmd-label-floating">DSTs</label>
        {{form_fichas.dst}}
  </div>
    <div class="col-md-3">
    <label class="bmd-label-floating">Infecção urinária recorrente</label>
        {{form_fichas.infec_urinaria}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">Exames complementares</label>
        {{form_fichas.exame_complementar}}
  </div>
  <div class="col-md-6">
    <label class="bmd-label-floating">Exame físico Inspeção MAP</label>
        {{form_fichas.exame_fisico}}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="bmd-label-floating">AFA</label>
        {{form_fichas.afa}}
  </div>
    <div class="col-md-6">
    <label class="bmd-label-floating">PERFECT</label>
        {{form_fichas.perfect}}
  </div>
</div>