{% extends "base.html" %}
{% load static %}
{% block datepicker %}
<!--datatables-->
  <script src ="{% static "tables/jquery.min.js" %}"></script>
  <style> 
  /* coloca um cor no numero de sessões da gua*/    
  .badge.badge-danger {
      background-color: #f44336;
    }
    .badge.badge-warning {
      background-color: orange;
    }
  </style>
{% endblock datepicker %}
{% block menu_li %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
  <li class="nav-item active  ">
    <a class="nav-link" href="#">
     <i class="material-icons">sync</i>
        <p>Guias</p>
    </a>
  </li>
{% endblock menu_li %}

{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="purple">
                 	 <a href="{% url 'guias' %}" class="btn btn-raised btn-success btn-xs pull-right">Guias Ativas</a>
                   <h4 class="card-title ">Lista de Guias Finalizadas</h4>
              </div>
                <div class="card-content">
                   <div class="col-md-12">
                    <form method="GET"name="search">
                      <div class="row">
                         <div class="col-md-3">
                         <input type="text"class="form-control" name="numero" placeholder="Numero da Guia"value="{{ request.GET.numero }}">
                       </div>
                         <div class="col-md-4">
                         <input type="text"class="form-control" name="profissional" placeholder="Profissional"value="{{ request.GET.profissional }}">
                       </div>
                        <div class="col-md-4">
                         <input type="text"class="form-control" name="paciente" placeholder="Nome do Paciente"value="{{ request.GET.paciente }}">
                       </div>
                       <div class="col-md-1 col-sm-1">
                         <button type="submit" class="btn btn-primary pull-right btn-round"><i class="material-icons">search</i></button>
                       </div>
                     </div>
                   </form>
                 </div>
                  <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead class=" text-primary">
                        <th>Numero</th>
                        <th>Convênio</th>
                        <th>Paciente</th>
                        <th>Validade</th>                        
                        <th>Qtd. Rest</th>
                        <th>Qtd. aut</th>
                        <th>Status</th>
                        <th>Ativo</th>
                        <th>Ações</th>
                      </thead>
                      <tbody>
                        {% for guia in guias %}
                        <tr class="{% if guia.tipo_guia == 'PV' %} text-danger %}{% endif %}">
                          <td><a href="{% url 'sobre_guia' guia.id %}">{{guia.numero}}</a></td>
                          <td>{{guia.convenio}}</td>
                          <td>{{guia.paciente|truncatechars:25}}</td>
                          {% if guia.verifica_vencimento == 'Vencido' %}
                            <td><span class="badge badge-danger">{{guia.validade|date:"d/m/Y"}}</span></td>
                          {% elif guia.verifica_vencimento == 'Alerta' %}
                            <td><span class="badge badge-warning">{{guia.validade|date:"d/m/Y"}}</span></td>
                          {% elif guia.verifica_vencimento == 'Valido' %}
                            <td><b>{{guia.validade|date:"d/m/Y"}}</b></td>
                          {% endif %}  
                          <td>
                            {% if guia.quantidade <= 2 %}
                              <span class="badge badge-pill badge-warning">{{guia.quantidade}}</span>
                              {% else %}
                              {{guia.quantidade}}
                            {% endif %}
                          </td>
                          <td>                           
                              <b>{{guia.qtdautorizada}}</b>                        
                          </td>
                          {% if guia.status == "I" %}
                            <td class="text-danger"><b>{{guia.get_status_display}}</b></td>
                          {% else %}
                           <td><b>{{guia.get_status_display}}</b></td>
                          {% endif %}
                          <th>{% if guia.ativo == True %}
                            <b class="text-success"><i class="material-icons">check_circle</i></b>  
                          {% else %}
                            <b class="text-danger"><i class="material-icons"title="Guia Finalizada">cancel</i></b>
                          {% endif %}</th>
                          {% if guia.ativo == True %}
                          <td  width="10%">
                            <a href="{% if guia.ativo == True %}{% url 'update_guia' guia.id %}{% endif %}" title="Editar"><i class="material-icons">sync</i></a>
                            {% if guia.status == "I" %}
                              <a href="#" title="Validar Guia"><i class="material-icons">assignment_turned_in</i></a>
                            {% else %}
                              <a href="{% if guia.ativo == True %}{% url 'validar_guia' guia.id %}{% endif %}" title="Revalidar Guia"><i class="
                                {% if guia.validada == True %}%}
                                  material-icons text-danger
                                {% else %}
                                  material-icons text-success
                                {% endif %}">assignment_turned_in</i></a>
                            {% endif %}
                            <br>                         
                            <a href="{% if guia.ativo == True %}{% url 'excluir_guia' guia.id %}{% endif %}"title="Remover" onclick="{% if guia.ativo == True %}return confirm('Deseja realmente excluir?');{% endif %}"><i class="material-icons  text-warning">delete</i></a>
                            <a href="{% if guia.ativo == True %}{% url 'finalizar_guia' guia.id %}{% endif %}" title="Finalizar Guia" onclick="return confirm('Deseja realmente Finalizar essa Guia?');"><i class="material-icons">power</i></a>
                          </td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                       </tbody>
                    </table>
                     {% if guias %}
                      <ul class="pagination">
                        {% if guias.has_previous %}
                        <li><a href="?page={{ guias.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                         {% for i in guias.paginator.page_range %}
                            {% if guias.number == i %}
                              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                              <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                          {% endfor %}
                        {% if guias.has_next %}
                          <li><a href="?page={{ guias.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                      {% endif %}
                 </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      searching: false, 
      bPaginate:false,
      "language": {
          "sProcessing":   "Processando...",
          "sLengthMenu":   " _MENU_ ",
          "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
          "info": "Pág _PAGE_ de _PAGES_",
          "sInfoEmpty":    "",
          "sInfoFiltered": "",
          "sInfoPostFix":  "",
          "sSearch":       "Busca",
          "sUrl":          "",
          "oPaginate": {
              "sFirst":    "Primeiro",
              "sPrevious": "",
              "sNext":     "",
              "sLast":     "Último"
          }
      }
    });


    var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}