{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png" %}">
  <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Psicocenter</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--  Social tags      -->
  <meta name="keywords" content="fisiolife clinica"
  <meta name="description" content="Material Dashboard PRO is a Premium Material Bootstrap Admin with a fresh, new design inspired by Google's Material Design.">
  <!-- Bootstrap core CSS     -->
  <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}"/>
  <!--  Material Dashboard CSS    -->
  <link rel="stylesheet" href="{% static "assets/css/material-dashboard.css" %}"/>
  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link rel="stylesheet" href="{% static "assets/css/demo.css" %}"/>
  <link rel="stylesheet" href="{% static "assets/css/fullcalendar.print.css" %}"/>
  <!--     Fonts and icons     -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  {% block add_modal %} 
  {% endblock add_modal %}
  {% block datepicker %}
  {% endblock datepicker %}
</head>

<body>
  <style>
  .card-title,input,label,table,select,li{
    text-transform:uppercase;
  }
  </style>
  <div class="sidebar-mini">
    <div class="sidebar" data-active-color="purple" data-background-color="white" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
    <!--
        Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
        Tip 2: you can also add an image using data-image tag
        Tip 3: you can change the color of the sidebar with data-background-color="white | black"
      -->
      <div class="logo"align="center">
       <a href="{% url 'home' %}" class="simple-text logo-normal">
          {% for c in clinica %}
            <img src="{{c.logo_menu.url}}" width="80%">
          {%empty%}
            <img src="{% static "img/logo_menu.jpg" %}" width="80%">
          {% endfor %}
        </a>
      </div>
      <div class="sidebar-wrapper">
        <div class="user">
          <div class="photo">
            <img src="{% static 'img/person-icon.png' %}" />
          </div>
          <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                <b class="text-info">{{request.user.username|upper}}</b>
                <b class="caret"></b>
              </span>
            </a>
            <div class="clearfix"></div>
            <div class="collapse" id="collapseExample">
              <ul class="nav">
                <li>
                  <a href="{% url 'atualizar_profissional' request.user.profissional.id %}"><i class="material-icons">person</i> <b class="text-info">Atualizar Meus Dados</b>
                  </a>
                </li>
                <li>
                  <a href="{% url 'change_password' %}"><i class="material-icons">lock</i> <b class="text-warning">Trocar Senha</b>
                  </a>
                </li>
                <li>
                  <a href="{% url 'logout' %}">
                    <i class="material-icons">arrow_forward</i>
                    <b class="text-danger">Sair</b>
                  </a>
                </li>  
              </ul>
            </div>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="material-icons">dashboard</i>
              <p>Página Inicial</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'agendamentos' %}">
              <i class="material-icons">calendar_today</i>
              <p>Agenda</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'lista_pacientes' %}">
              <i class="material-icons">accessible</i>
              <p>Pacientes</p>
            </a>
          </li>
           {% if atendente %}
            <li>
              <a href="{% url 'guias' %}">
                <i class="material-icons">chrome_reader_mode</i>
                <p>Guias</p>
              </a>
            </li>
            
            {% endif %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'atendimentos' %}">
              <i class="material-icons">enhanced_encryption</i>
              <p>Atendimento</p>
            </a>
          </li>
          <li>
            <a data-toggle="collapse" href="#formsExamples">
              <i class="material-icons">library_add</i>
              <p>  Cadastros
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" id="formsExamples">
              <ul class="nav">
                {% if request.user.is_superuser %}
                <li>
                  <a href="{% url 'profissionais' %}">
                    <i class="material-icons">person</i>
                    <span class="sidebar-normal"> Profissionais</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'convenios' %}">
                    <i class="material-icons">sync</i>
                    <span class="sidebar-normal"> Convênio</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'salas' %}">
                    <i class="material-icons">meeting_room</i>
                    <span class="sidebar-normal"> Salas</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'procedimentos' %}">
                    <i class="material-icons">apps</i>
                    <span class="sidebar-normal"> Procedimentos</span>
                  </a>
                </li>
                <li>
                  <a href="{% url 'guias' %}">
                    <i class="material-icons">chrome_reader_mode</i>
                    <span class="sidebar-normal">Guias</span>
                  </a>
                </li>
                {% elif atendente%}
                 <li>
                  <a href="{% url 'procedimentos' %}">
                    <i class="material-icons">apps</i>
                    <p> Procedimentos</p>
                  </a>
                </li>
                {% endif %}
                <!--
                <li>
                  <a href="{% url 'add_paciente' %}">
                    <i class="material-icons">group_add</i>
                    <span class="sidebar-normal">Pacientes</span>
                  </a>
                </li>
              -->
                <li>
                  <a href="{% url 'lista_espera' %}">
                    <i class="material-icons">person</i>
                    <span class="sidebar-normal"> Lista de Espera</span>
                  </a>
                </li>
               </ul>
            </div>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'financeiro_dashboard' %}">
              <i class="material-icons">monetization_on</i>
              <p>Financeiro</p>
            </a>
          </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-minimize">
          <button id="minimizeSidebar"class="btn btn-round btn-white btn-fill btn-just-icon">
            <i class="material-icons visible-on-sidebar-regular">fullscreen</i>
            <i class="material-icons visible-on-sidebar-mini">view_list</i>
          </button>
          {% block button_bar %}
          {% endblock button_bar %}
        </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block navbar %}
          {% endblock navbar %}
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
           {% if guia_notificacao %}
              <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Notificações
                    <i class="material-icons">notifications</i>
                    <span class="notification">{{guia_notificacao.count}}</span>
                    <p class="hidden-lg hidden-md">
                      Notifications
                      <b class="caret"></b>
                    </p>
                  </a>
                  <ul class="dropdown-menu">
                    {% for g in guia_notificacao %}
                      <li><a href="#">Numero: {{g.numero}}</a></li>
                    {% endfor %}
                      <li class="text-center"><a href="{% url 'guias' %}">Ver Mais</a></li>
                  </ul>
                </li>
              </ul>
            </div>
           {% endif %}
          </ul>
          {% if messages %}
            <!--mostra as mensagens de alerta-->
            {% for message in messages %}
            <div class="col-md-5">
              <div class="alert {{ message.tags }} alert-with-icon animated fadeInDown">
                <i class="material-icons" data-notify="icon">info_outline</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                <span data-notify="message"> <b>{{message}}</b>  </span>
              </div>
            </div>
            {% endfor %}
          {% elif oculta_fields %}
            <div class="col-md-5">
              <div class="alert alert-info alert-with-icon animated fadeInDown">
                <i class="material-icons" data-notify="icon">info_outline</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">x</button>
                <span data-notify="message"> <b>'Atenção!!! Esse Agendamento é Particular :)'</b>  </span>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block container %} 	
    {% endblock container %}

  </body>
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/material.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>

  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

  <!-- Library for adding dinamically elements -->
  <script src="{% static "assets/js/arrive.min.js"%}" type="text/javascript"></script>

  <!-- Forms Validations Plugin -->
  <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>

  <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
  <script src="{% static "assets/js/moment.min.js"%}"></script>

  <!--  Charts Plugin, full documentation here: https://gionkunz.github.io/chartist-js/ -->
  <script src="{% static "assets/js/chartist.min.js"%}"></script>

  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static "assets/js/jquery.bootstrap-wizard.js"%}"></script>

  <!--  Notifications Plugin, full documentation here: http://bootstrap-notify.remabledesigns.com/    -->
  <script src="{% static "assets/js/bootstrap-notify.js"%}"></script>

  <!--   Sharrre Library    -->
  <script src="{% static "assets/js/jquery.sharrre.js"%}"></script>

  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static "assets/js/bootstrap-datetimepicker.js"%}"></script>

  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static "assets/js/jquery-jvectormap.js"%}"></script>

  <!-- Sliders Plugin, full documentation here: https://refreshless.com/nouislider/ -->
  <script src="{% static "assets/js/nouislider.min.js"%}"></script>

  <!--  Google Maps Plugin    -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1_8C5Xz9RpEeJSaJ3E_DeBv8i7j_p6Aw"></script>

  <!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static "assets/js/jquery.select-bootstrap.js"%}"></script>

  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{% static "assets/js/jquery.datatables.js"%}"></script>

  <!-- Sweet Alert 2 plugin, full documentation here: https://limonte.github.io/sweetalert2/ -->
  <script src="{% static "assets/js/sweetalert2.js"%}"></script>

  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static "assets/js/jasny-bootstrap.min.js"%}"></script>

  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static "assets/js/fullcalendar.min.js"%}"></script>
  <script src="{% static "assets/js/pt-br.js"%}"></script>

  <!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static "assets/js/jquery.tagsinput.js"%}"></script>

  <!-- Material Dashboard javascript methods -->
  <script src="{% static "assets/js/material-dashboard.js"%}"></script>

  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static "assets/js/demo.js"%}"></script>
  </html>
