{% extends "base.html" %}
{% load static %}
{% block menu_li %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'agendamentos' %}">
        <i class="material-icons">calendar_today</i>
        <p>Agenda</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'lista_pacientes' %}">
        <i class="material-icons">accessible</i>
        <p>Pacientes</p>
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="{% url 'atendimentos' %}">
        <i class="material-icons">enhanced_encryption</i>
        <p>Atendimento</p>
      </a>
    </li>
    <li>
        <a data-toggle="collapse" href="#formsExamples">
            <i class="material-icons">library_add</i>
            <p>  Cadastros
              <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="formsExamples">
            <ul class="nav">
              {% if request.user.is_superuser %}
                <li>
                    <a href="{% url 'profissionais' %}">
                      <i class="material-icons">person</i>
                        <span class="sidebar-normal"> Profissionais</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'convenios' %}">
                      <i class="material-icons">sync</i>
                        <span class="sidebar-normal"> Convênio</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'salas' %}">
                      <i class="material-icons">meeting_room</i>
                        <span class="sidebar-normal"> Salas</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'procedimentos' %}">
                      <i class="material-icons">apps</i>
                        <span class="sidebar-normal"> Procedimentos</span>
                    </a>
                </li>
                <li>
                  <a href="{% url 'guias' %}">
                    <i class="material-icons">chrome_reader_mode</i>
                      <span class="sidebar-normal">Guias</span>
                  </a>
                </li>
              {% elif atendente %}
               <li>
                  <a href="{% url 'guias' %}">
                    <i class="material-icons">chrome_reader_mode</i>
                      <span class="sidebar-normal">Guias</span>
                  </a>
                </li>
              {% endif %}
                <li>
                    <a href="{% url 'lista_espera' %}">
                      <i class="material-icons">person</i>
                        <span class="sidebar-normal"> Lista de Espera</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    {% if request.user.is_superuser %}
    <li>
        <a data-toggle="collapse" href="#contas">
            <i class="material-icons">monetization_on</i>
            <p>  Financeiro
               <b class="caret"></b>
            </p>
        </a>
        <div class="collapse" id="contas">
            <ul class="nav">
                <li>
                    <a href="{% url 'conta_receber' %}">
                      <i class="material-icons">money</i>
                        <span class="sidebar-normal"> <b class="text-success">Contas a Receber</b></span>
                    </a>
                </li>
                 <li>
                    <a href="{% url 'contas_a_pagar' %}">
                      <i class="material-icons">money</i>
                        <span class="sidebar-normal"> <b class="text-danger">Contas a Pagar</b></span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    {% endif %}
{% endblock %}
{% block navbar %}
  <a class="navbar-brand" href="#pablo">Dashboard</a>
{% endblock navbar %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span class="pull-left">Aniversariantes do Dia</span></a>
              <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">people</i>
          </div>
          <div class="card-content">
            <p class="category">Clientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span class="pull-left">Detalhes</span></a>
             <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">book</i>
        </div>
        <div class="card-content">
          <p class="category">Vagas do Dia</p>
          <h3 class="card-title"> <i class="material-icons">book</i></h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'vagas' %}"><span class="pull-left">Detalhes</span></a>
           <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda</p>
          <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendamentos' %}"><span class="pull-left">Detalhes</span></a>
          <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  <footer class="footer">
  <div class="container-fluid">
      <p class="copyright pull-right">
        &copy; <script>//document.write(new Date().getFullYear())</script>
        <a href="#" target="_blank">FisioLife </a> - Todos os Direitos reservados.
      </p>
  </div>
</footer>
</div>
</div>
{% endblock container %}