{% extends "base.html" %}
{% load static %}
{% block navbar %}
  <a class="navbar-brand" href="#pablo">PÁGINA INICIAL</a>
{% endblock navbar %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span class="pull-left">Aniversariantes do Dia</span></a>
              <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">people</i>
          </div>
          <div class="card-content">
            <p class="category">Pacientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span class="pull-left">Detalhes</span></a>
             <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Guias Ativas</p>
          <h3 class="card-title"> {{view.guias_count}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'guias' %}"><span class="pull-left">Detalhes</span></a>
           <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda</p>
          <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendamentos' %}"><span class="pull-left">Detalhes</span></a>
          <span class="pull-right"> <i class="fa fa-arrow-circle-right"></i></span><br>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="col-md-12">
      <h4>CONVÊNIOS</h4>
      {% for convenio in convenios %}
        <button class="btn btn-sm">{{convenio.get_nome_display}}</button>
      {% endfor %}
    </div>
  <footer class="footer">
  <div class="container-fluid">
      <p class="copyright pull-right">
        &copy; <script>//document.write(new Date().getFullYear())</script>
        <a href="#" target="_blank">Psicocenter </a> - Todos os Direitos reservados.
      </p>
  </div>
</footer>
</div>
</div>
{% endblock container %}