   
{% for avaliacao in ficha_avaliacao %}
    {% if avaliacao.atendimento.tipo == "AV" %}
        <h4><b><i class="fa fa-check-square-o"></i> Avaliação dia {{avaliacao.atendimento.data}} das {{avaliacao.atendimento.hora_inicio}} até {{avaliacao.atendimento.hora_fim}}</b></h4><br>
        <font size="3px">
            <b>Profissional:</b> {{avaliacao.atendimento.profissional}} <br>
            <b>Convênio:</b> {{avaliacao.atendimento.convenio}} <br>
        </font>                              
    {% else %}
    <h4><b><i class="fa fa-line-chart"></i> Evolução dia {{avaliacao.atendimento.data}} das {{avaliacao.atendimento.hora_inicio}} até {{avaliacao.atendimento.hora_fim}}</b></h4><br>
    <font size="3px">
        <b>Profissional:</b> {{avaliacao.atendimento.profissional}} <br>
        <b>Convênio:</b> {{avaliacao.atendimento.convenio}} <br>
        <!-- INICIO DA EVOLUÇÃO DO PACIENTE NO PRONTUÁRIO-->
        <!-- Tem que renderizar o campo evolução aqui-->
        <!-- FIM DA EVOLUÇÃO DO PACIENTE NO PRONTUÁRIO-->
    </font>
{% endif %}
<hr>
    <font size="3px">
        <b>Queixa Principal: </b>{{avaliacao.queixa}} <br><br>              
        <b>Histórico Familiar: </b>{{avaliacao.familia}}<br><br>                 
        <b>Histórico Patológico: </b>{{avaliacao.patologico}}<br><br>                 
        <b>Histórico Social: </b>{{avaliacao.social}}<br><br>                 
        <b>Condulta: </b>{{avaliacao.condulta}}<br><br>                 
                 
    </font>
{% endfor %}