{% extends "base.html" %}
{% load static %}
{% block datepicker %}
  <script src ="{% static "tables/jquery.min.js" %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock datepicker %}
{% block menu_li %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
  <li class="nav-item active  ">
    <a class="nav-link" href="{% url 'atendimentos' %}">
     <i class="material-icons">list_alt</i>
      <p>Atendimentos</p>
    </a>
  </li>
{% endblock menu_li %}
{% block container %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-primary"data-background-color="purple">
                <h4 class="card-title">Detalhes</h4>
              </div>
              <div class="card-content">
                <div class="row">
                  <br>
                  <div class="col-md-12">
                    {% if atendimento.data %}                          
                      <div class="row">
                          <div class="col-sm-3 col-md-2 col-5">
                              <label style="font-weight:bold;">Paciente</label>
                          </div>
                          <div class="col-md-8 col-6">
                             <b>{{ atendimento.paciente }}</b>
                          </div>
                      </div>
                      <hr>
                      {% endif %}
                      {% if atendimento.tipo %}
                              <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Tipo</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.get_tipo_display}}
                                  </div>
                              </div>
                              <hr>
                              {% endif %}
                              {% if atendimento.data %}
                              <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Data</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                      {{ atendimento.data|date:"d/m/Y" }}
                                  </div>
                              </div>
                              <hr>
                                {% endif %}
                                {% if atendimento.data %}    
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Horario</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                        {{ atendimento.hora_inicio }} /{{ atendimento.hora_fim }}
                                    </div>
                                </div>
                                <hr>
                              {% endif %}
                              {% if atendimento.data %} 
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Convenio</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.convenio }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                 {% if atendimento.profissional %} 
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Profissional</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.profissional }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.procedimento %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Procedimento</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.procedimento }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% if atendimento.guia %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Guia</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.guia }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            <!--avaliação-->
                             {% if atendimento.qp %} 
                               <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">QP</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.qp }}
                                  </div>
                              </div>
                              <hr>
                              {% endif %}
                              {% if atendimento.diagnostico %} 
                               <div class="row">
                                  <div class="col-sm-3 col-md-2 col-5">
                                      <label style="font-weight:bold;">Diagnostico</label>
                                  </div>
                                  <div class="col-md-8 col-6">
                                     {{ atendimento.diagnostico }}
                                  </div>
                              </div>
                              <hr>
                                {% endif %}
                                {% if atendimento.hda %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">HDA</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.hda }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.outras_doencas %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Outras Doenças</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.outras_doencas }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.pa %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">PA</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.pa }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.mmHg %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">mmHg</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.mmHg }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.bpm %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">bpm</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.bpm }}
                                    </div>
                                </div>
                                              <hr>
                                {% endif %}
                                {% if atendimento.rpm %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">rpm</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.rpm }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.inspecao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Inspecao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.inspecao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.palpacao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">palpacao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.palpacao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.palpacao %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">palpacao</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.palpacao }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.exame_complementar %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">exame_complementar</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.exame_complementar }}
                                    </div>
                                </div>
                                <hr>
                                {% endif %}
                                {% if atendimento.tratamento %} 
                                 <div class="row">
                                    <div class="col-sm-3 col-md-2 col-5">
                                        <label style="font-weight:bold;">Tratamento</label>
                                    </div>
                                    <div class="col-md-8 col-6">
                                       {{ atendimento.tratamento }}
                                    </div>
                                </div>
                                <hr>
                          {% endif %}
                          {% if atendimento.evolucao %} 
                   <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Evolucao</label>
                      </div>
                      <div class="col-md-8 col-6">
                         {{ atendimento.evolucao }}
                      </div>
                  </div>
                  <hr>
                  {% endif %}   
                  </div>
                </div>
              </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
{% endblock container %}