{% extends "base.html" %}
{% load static %}
{% block datepicker %}
  <script src ="{% static "tables/jquery.min.js" %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock datepicker %}
{% block menu_li %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
   <li class="nav-item active ">
    <a class="nav-link" href="{% url 'atendimentos' %}">
     <i class="material-icons">list_alt</i>
      <p>Atendimentos</p>
    </a>
  </li>
{% endblock menu_li %}
{% block container %}
  <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card">
                 <div class="card-header card-header-primary"data-background-color="purple">
                   <h4 class="card-title">Todos os Atendimentos</h4>
              </div>
              <div class="card-content">
                 <div class="col-md-12">
                  <form method="POST"name="search">
                  {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                          <div class="form-group">
                            <input name="date_ranger"class="form-control"required>
                          </div>
                        </div>
                      <div class="col-md-3 col-sm-3">
                         <select class="selectpicker" name="profissional"data-style="select-with-transition" title="Profissional" data-size="7">
                          <option value="">Selecione o Profissional</option>
                          {% for p in pf %}
                            <option value="{{p.nome}}">{{p.nome}}</option>
                          {% endfor %}
                        </select>
                      </div>
                     <div class="col-md-3">
                      <select class="selectpicker" name="tipo"data-style="select-with-transition" title="tipo" data-size="7">
                        <option value=""disabled selected>Todos</option>
                        <option value="EV">Evolução</option>
                        <option value="AV">Avaliação</option>
                      </select>
                    </div>
                      <div class="col-md-3 col-sm-3">
                         <button type="submit" class="btn btn-primary pull-right btn-round"><i class="material-icons">search</i></button>
                      </div>
                    </div>
                   </form>
                </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                     <thead class=" text-primary">
                  <th>Evolução/Avaliação</th>
                  <th>Data</th>
                  <th>Paciente</th>
                  <th>Profissional</th>
                  <th>Ação</th>
                </thead>
                <tbody>
                  {% for atendimento in atendimentos %}
                   <tr>
                    {% if atendimento.tipo == 'AV' %}
                      <td width="18%">
                        <div style="background-color:#1874CD;text-align:center;color:white;border-radius: 5px 5px;"><font size="2">{{atendimento.get_tipo_display}}</font>
                        </div>
                      </td>
                    {% else %}
                      <td width="18%">
                        <div style="background-color:green;text-align:center;color:white;border-radius: 5px 5px;"><font size="2">{{atendimento.get_tipo_display}}</font>
                        </div>
                      </td>
                    {% endif %}
                    <td>
                      {{atendimento.data|date:"d/m/Y"}}
                    </td>
                    <td>
                      {{atendimento.paciente}}
                    </td>
                    <td>
                       {{atendimento.profissional}}
                    </td>
                    <td>
                      <a href="{% url 'detalhe_atendimento' atendimento.id %}" title="Ver Atendimento"><i class="material-icons">visibility</i></a>
                      {% if not at %}
                        <a href="{% url 'update_atendimento' atendimento.id %}" title="Editar"><i class="material-icons">sync</i></a>
                        <a href="{% url 'excluir_atendimento' atendimento.id %}" title="Remover" onclick="return confirm('Deseja realmente excluir?');"><i class="material-icons">delete</i></a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                 </tbody>
                        </table>
                      </div>
                    </div><!-- end content-->
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
  </div>
</div>
<script type="text/javascript">
  $('input[name="date_ranger"]').daterangepicker({
    "timePicker": false,
    "startDate": moment(),
    "endDate": moment(),
    "ranges": {
        'Hoje': [moment(), moment()],
        'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
        'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
        'Esse Mês': [moment().startOf('month'), moment().endOf('month')],
        'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
     showDropdowns: true,
    "locale": {
    "format": "DD/MM/YYYY",
    "separator": " / ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Customizado",
    "daysOfWeek": [
        "Dom",
        "Seg",
        "Ter",
        "Qua",
        "Qui",
        "Sex",
        "Sáb"
    ],
    "monthNames": [
        "Janeiro",
        "Fevereiro",
        "Março",
        "Abril",
        "Maio",
        "Junho",
        "Julho",
        "Agosto",
        "Setembro",
        "Outubro",
        "Novembro",
        "Dezembro"
    ],
    "firstDay": 0
  }
}, function(start, end, label) {
  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");

});
  $(document).ready(function() {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      responsive: true,
      searching: false, 
      "language": {
          "sProcessing":   "Processando...",
          "sLengthMenu":   " _MENU_ ",
          "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
          "info": "Pág _PAGE_ de _PAGES_",
          "sInfoEmpty":    "",
          "sInfoFiltered": "",
          "sInfoPostFix":  "",
          "sSearch":       "",
          "sUrl":          "",
          "oPaginate": {
              "sFirst":    "Primeiro",
              "sPrevious": "",
              "sNext":     "",
              "sLast":     "Último"
          }
      }
    });


    var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}