{% extends "base.html" %}
{% load static %}
{% block add_modal %}
<script src="{% static "js/core/jquery.min.js" %}"></script>
<!--boostrap datepicker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet"type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock add_modal %}
{% block menu_li %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'home' %}">
		<i class="material-icons">dashboard</i>
		<p>Dashboard</p>
	</a>
</li>
<li class="nav-item active ">
	<a class="nav-link" href="{% url 'atendimentos' %}">
		<i class="material-icons">list_alt</i>
		<p>Atendimentos</p>
	</a>
</li>
{% endblock menu_li %}
{% block container %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary"data-background-color="purple">
						<h4 class="card-title">{{nome_da_ficha}}</h4>
					</div>
					<div class="col-md-12">
						<div class="tab-content">
							<div class="tab-pane active" id="Evolução">
								<div class="col-lg-12">
									<div class="card-body">
										<form method="POST"id="atendForm" data-select-url="{% url 'ajax_load_proced' %}" novalidate>
											{% csrf_token %}
											<div class="row">
												<div class="col-md-2">
													<div class="form-group">
														<label class="bmd-label-floating">* Tipo</label>
														{{form.tipo}}
													</div>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label class="bmd-label-floating">* Paciente</label>
														{{form.paciente}}
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<div id="cp_3">	
															<label>*Das</label>
															{{form.hora_inicio}}
														</div>
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>*Até ás</label>
														{{form.hora_fim}}
													</div>
												</div>
												<div class="col-md-2">
													<div class="form-group">
														<label>* Data</label>
														{{form.data}}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">													<label class="bmd-label-floating">* Convenio
													</label>
													{{form.convenio}}
												</div>
												<div class="col-md-7">
													<div class="form-group">			
														<label class="bmd-label-floating">*Guia  |  Procedimento  |  Seções</label>
														{{form.guia}}
													</div>
												</div>												
												<div class="col-md-3">
													<div class="form-group">			
														<label class="bmd-label-floating">*Profissional</label>
														{{form.profissional}}
													</div>
												</div>
												<b class="text-danger text-center">{{form.non_field_errors}}</b>
											</div>
											<h4 class="text-center"><b>ATENDIMENTO</b></h4>
											<hr>
											<!--Formulario de Evolução-->
											{% if form_fichas.evolucao %}
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="bmd-label-floating">* Evolução
															</label>
															{{form_fichas.evolucao}}
														</div>
													</div>
												</div>
											{% endif %}
											
											<!--Formulario de Avaliação Terapia Ocupacional-->
											{% if form_fichas.queixa %}
												{% include 'atendimento/fichas/avaliacao.html' %}
								            {% endif %}
								            <div>
								            	{% if not ocultar_botao_salvar == "display_button"%}
													<button type="submit" class="btn btn-primary pull-right" id="salvar">Salvar</button>
													<a href="{% url 'atendimentos' %}" class="btn btn-danger btn-group" onclick="return confirm('Deseja realmente cancelar?');">Cancelar</a>
													{% else %}
													<a href="javascript:void(0)" onClick="history.go(-1); return false;" class="btn btn-info btn-group pull-right">Voltar</a>
												{% endif %}
											</div>
										</form>
									</div>
								</div>
							</div> 
						</div>
					</div>
				</div> <!-- end row -->
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
			//bloquea campos do form par não atualizar
			$("#id_guia").prop( "disabled", true );  
			$("#id_tipo").prop( "disabled", true );  
			$("#id_paciente").prop( "disabled", true );  
			$("#id_hora_inicio").prop( "disabled", true );  
			$("#id_hora_fim").prop( "disabled", true );   
			$("#id_convenio").prop("disabled", true);  
			$("#id_profissional").prop( "disabled", true );  
			$("#id_data").prop( "disabled", true ); 
		});
		$("#salvar").click(function(){
  			$("#id_guia").prop( "disabled", false );  
  			$("#id_tipo").prop( "disabled", false );  
			$("#id_paciente").prop( "disabled", false );  
			$("#id_hora_inicio").prop( "disabled", false );  
			$("#id_hora_fim").prop( "disabled", false );   
			$("#id_convenio").prop("disabled", false);  
			$("#id_profissional").prop( "disabled", false );  
			$("#id_data").prop( "disabled", false ); 
		});
		</script>
{% endblock container %}
